<!DOCTYPE html>
{% extends 'base.html'%}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ category_name }}</h1>
        {% if category %}
            {% if articles %}
            <ul>
                {% for article in articles %}
                    <li><a href="/blog/article/{{ article.slug }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <h3>No article in the category</h3>
            {% endif %}
        {% else %}
            <h3>Category Does not exist</h3>
        {% endif %}
{% endblock %}