<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}

{% load django_markdown %}

{% block body %}

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% for article in articles %}

                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                    </a>
                    {{ article.text | markdown }}
                    <p class="post-meta">
                        Posted on {{ article.pub_datetime }}
                        Tag: {{ article.tags.all| join:", " }}
                    </p>
                </div>
                <hr>

        {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
