<!DOCTYPE html>
{% extends 'base.html' %}
{% load django_markdown %}

{% load staticfiles %}

{% block body %}
    <!--Show 5 most recent posts-->

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% for article in articles %}

                <div class="post-preview">
                    <a href="{% url 'article'  article.slug  %}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                    </a>
                    <p >{{ article.text | truncatewords_html:80 | markdown }} <a class="text-right" href="{% url 'article' article.slug %}">(Read More)</a></p>

                    <p class="post-meta">
                        Posted on {{ article.pub_datetime }}
                        Tag: {{ article.tags.all| join:", " }}
                    </p>
                </div>
                <hr>

        {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}